@import "tailwindcss";

@font-face {
  font-family: "Poopins";
  src: url("./assets/font/Belleza-Regular.ttf")format("truetype");
}

@theme {
  --font-Poopins: "Belleza", sans-serif;
  --color-bg-primary: #F90806;
  --color-bg-footer : #1E1E1E;
  --color-footer-text: #FFFFFF;
}

::selection {
  background-color: #F90806;
  color: white;
}